@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "globals", "breakpoints", "tablet");

.c__feedback {
  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--accent);
    border-top: 1px solid
      var(--border);
    display: none;

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  &__modal {
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__button {
      display: flex;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid
        var(--border);
      color: var(--muted-foreground);
      gap: 20px;
      text-decoration: none;
      align-items: center;

      &__title {
        font-weight: 700;
        font-size: 14px;
      }

      &__description {
        font-size: 14px;
        font-weight: 400;
      }

      &:hover {
        border-color: color-mix(in srgb, var(--info) 40%, transparent);
        background-color: color-mix(in srgb, var(--info) 18%, transparent);
        color: var(--info);
      }
    }
  }
}

/**
 * This is made to avoid having the feedback footer to hide the content.
 * To remove when the feedback footer is removed.
 */

@media (max-width: $tablet) {
  .drive__home--feedback,
  .c__main-layout__content__center__children {
    padding-bottom: 57px;
  }
}
