.c__breadcrumbs {
  display: flex;
  align-items: center;
  overflow: auto;

  &__separator {
    color: var(--muted-foreground);
  }

  > * {
    flex-shrink: 0;
  }
}

.c__breadcrumbs__button {
  height: 32px;
  padding: 4px;
  background-color: transparent;
  border: none;
  color: var(--muted-foreground);
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-family: var(--font-sans);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  &:hover {
    background-color: var(--accent);
  }

  &.active {
    font-weight: 600;
    color: var(--foreground);
  }
}
